@charset "utf-8";
/* CSS Document */

/*.plusimageapply
{
font-weight: bold;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
border-top-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
border-radius-bottomleft: 5px;
width: 5px;
background-color:#333;
cursor: pointer;
height:5px;
text-align:center;
list-style:none;
}

.minusimageapply
{
font-weight: bold;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
border-top-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
border-radius-bottomleft: 5px;
width: 10px;
background-color:#333;
cursor: pointer;
height:10px;
text-align:center;
position:relative;
}*/
.plusimageapply{
	list-style-image:url(../Images/plus.png);
	cursor:pointer;
	}
.minusimageapply{
	list-style-image:url(../Images/minus.png);
	cursor:pointer;
	}

.selectedimage{
	list-style-image:url(../Images/selected.png);
	cursor:pointer;
	}